<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <style>
        #topBar {
            background-color: aquamarine;
            border: black;
            padding: 10px 90px;
            text-align: center;
        }

        body {
            background-color: azure;
        }
    </style>
</head>
<body>
<div id="topBar">
    <h1 id="h1">Welcome!</h1>
    <br>
    <input type="button" onclick="redirect()" id="login" value="sign up" style="width: 100px; background-color: lightgreen;"
    >
    <input type="button" id="login2" onclick="redirect2()"  value="login" style="width: 100px; background-color: lightgreen;"
    >
</div>
<noscript>Please enable javascript, it is useful!</noscript>
<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<h1 style="text-align: center">404 Page not Found.</h1>
<p style="text-align: center">What you are looking for does not exist.</p>
  <script>
        function redirect() {
            window.location.replace(`/signup`);
        }
        function redirect2() {
            window.location.replace(`/login`);
        }
   var gID = id => document.getElementById(id);
    gID("login").addEventListener('touchstart', function (e) {
        e.preventDefault();
        window.location.replace(`/signup`);
    }, false)
    gID("login2").addEventListener('touchstart', function (e) {
        e.preventDefault();
        window.location.replace(`/login`);
    }, false)
    </script>
</body>
</html>
